body {
  --bg: #fff;
  --text: #000;
  --border: hsla(0, 0%, 0%, .1);

  font-family: -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px;
  font-size: 14px;
  min-width: 600px;
  color: var(--text);
  background: var(--bg);
}

@media (prefers-color-scheme: dark) {
  body {
    --bg: #292a2d;
    --text: rgb(232, 234, 237);
    --border: hsla(0, 0%, 100%, .1);
  }
}

h1 {
  font-size: 21px;
  margin: 0;
  padding: 0;
  height: 67px;
  line-height: 67px;
  background-image: url('../img/pinboard_icon_64.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 76px;
}

h2 {
  margin: 12px 0 6px 0;
  padding: 3px;
  background-color: var(--border);
  font-size: 18px;
  font-weight: bold;
}

h3 {
  margin-top: 0;
  font-size: 15px;
}

.notes {
  border-top: 1px solid var(--border);
}
